<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test" verbose="5">
		<classes>
			<!--<class name="redbeltgym.testcases.LoginFailure" />-->
			<class name="redbeltgym.testcases.LoginSuccess" />
			<!--<class name="redbeltgym.testcases.StatusAndPhase" /> -->
			<!--<class name="redbeltgym.testcases.TC001" /> -->
			<!--<class name="redbeltgym.testcases.TC002" /> -->
			<!--<class name="redbeltgym.testcases.TC003" /> -->
			<!--<class name="redbeltgym.testcases.TC004" /> -->
			<!--<class name="redbeltgym.testcases.TC005" /> -->
			<!-- <class name="redbeltgym.testcases.TC006" /> -->
			<!-- <class name="redbeltgym.testcases.TC007" /> -->
			<!-- <class name="redbeltgym.testcases.TC008" /> -->
			<!-- <class name="redbeltgym.testcases.TC009" /> -->
			<!-- <class name="redbeltgym.testcases.TC010" /> -->
			<!--<class name="redbeltgym.testcases.TC012" /> -->
			<!--<class name="redbeltgym.testcases.AttendanceContact" /> -->
			<!--<class name="redbeltgym.testcases.MemberPortal" /> -->
			<!--<class name="redbeltgym.testcases.SMS" />-->
			<!--<class name="redbeltgym.testcases.Call" />-->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->